/* SVN.committedRevision=e9347df */
@font-face {
    font-family: 'm-icons';
    src: url('fonts/m-icons.eot?e9347df?lwqvve');
    src: url('fonts/m-icons.eot?e9347df?#iefixlwqvve') format('embedded-opentype'),url('fonts/m-icons.woff?e9347df?lwqvve') format('woff'),url('fonts/m-icons.ttf?lwqvve') format('truetype'),url('fonts/m-icons.svg?lwqvve#m-icons') format('svg');
    font-weight: normal;
    font-style: normal
}

[class^="icon-"],[class*=" icon-"] {
    font-family: 'm-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-successful:before {
    content: "\e648"
}

.icon-truck:before {
    content: "\e642"
}

.icon-hands:before {
    content: "\e643"
}

.icon-error:before {
    content: "\e644"
}

.icon-camera:before {
    content: "\e645"
}

.icon-picture:before {
    content: "\e646"
}

.icon-file:before {
    content: "\e647"
}

.icon-idcard:before {
    content: "\e641"
}

.icon-keyboard:before {
    content: "\e600"
}

.icon-reduce:before {
    content: "\e601"
}

.icon-ge:before {
    content: "\e602"
}

.icon-add:before {
    content: "\e603"
}

.icon-alipay:before {
    content: "\e604"
}

.icon-attention:before {
    content: "\e605"
}

.icon-back:before {
    content: "\e606"
}

.icon-car:before {
    content: "\e607"
}

.icon-cart_small:before {
    content: "\e608"
}

.icon-cart:before {
    content: "\e609"
}

.icon-clear:before {
    content: "\e60a"
}

.icon-coupon:before {
    content: "\e60b"
}

.icon-delete:before {
    content: "\e60c"
}

.icon-dialog:before {
    content: "\e60d"
}

.icon-dingdan:before {
    content: "\e60e"
}

.icon-down_arrow_long:before {
    content: "\e60f"
}

.icon-down_arrow_small:before {
    content: "\e610"
}

.icon-down_arrow:before {
    content: "\e611"
}

.icon-edit:before {
    content: "\e612"
}

.icon-filter:before {
    content: "\e613"
}

.icon-gift:before {
    content: "\e614"
}

.icon-group:before {
    content: "\e615"
}

.icon-growup:before {
    content: "\e616"
}

.icon-hands2:before {
    content: "\e617"
}

.icon-heart:before {
    content: "\e618"
}

.icon-history:before {
    content: "\e619"
}

.icon-home:before {
    content: "\e61a"
}

.icon-id_2:before {
    content: "\e61b"
}

.icon-layer_close:before {
    content: "\e61c"
}

.icon-limit:before {
    content: "\e61d"
}

.icon-location:before {
    content: "\e61e"
}

.icon-merchant:before {
    content: "\e61f"
}

.icon-money:before {
    content: "\e620"
}

.icon-more:before {
    content: "\e621"
}

.icon-my:before {
    content: "\e622"
}

.icon-password:before {
    content: "\e623"
}

.icon-pencil:before {
    content: "\e624"
}

.icon-phone:before {
    content: "\e625"
}

.icon-qq:before {
    content: "\e626"
}

.icon-refresh:before {
    content: "\e627"
}

.icon-right_arrow:before {
    content: "\e628"
}

.icon-rss:before {
    content: "\e629"
}

.icon-sale:before {
    content: "\e62a"
}

.icon-search_small:before {
    content: "\e62b"
}

.icon-search:before {
    content: "\e62c"
}

.icon-service:before {
    content: "\e62d"
}

.icon-setting:before {
    content: "\e62e"
}

.icon-shake:before {
    content: "\e62f"
}

.icon-share:before {
    content: "\e630"
}

.icon-shop:before {
    content: "\e631"
}

.icon-smile:before {
    content: "\e632"
}

.icon-sort_2:before {
    content: "\e633"
}

.icon-sort_big_pic:before {
    content: "\e634"
}

.icon-sort:before {
    content: "\e635"
}

.icon-star_fat:before {
    content: "\e636"
}

.icon-star_fav:before {
    content: "\e637"
}

.icon-star:before {
    content: "\e638"
}

.icon-top:before {
    content: "\e639"
}

.icon-truck2:before {
    content: "\e63a"
}

.icon-up_arrow_long:before {
    content: "\e63b"
}

.icon-up_arrow_small:before {
    content: "\e63c"
}

.icon-vip:before {
    content: "\e63d"
}

.icon-warning:before {
    content: "\e63e"
}

.icon-weibo:before {
    content: "\e63f"
}

.icon-weixin:before {
    content: "\e640"
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Arial,'Microsoft YaHei'
}

img {
    vertical-align: top;
    border: 0
}

input,textarea {
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-appearance: none
}

input:focus,select:focus,textarea:focus,button:focus {
    outline: 0
}

input[type="text"],input[type="password"],input[type="search"],input[type="tel"],input[type="number"],input[type="email"],input[type="url"],textarea {
    -webkit-appearance: none;
    border: 1px solid;
    -webkit-border-radius: 0;
    border-radius: 0
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none
}

a {
    text-decoration: none;
    -webkit-touch-callout: none
}

em,i {
    font-style: normal
}

li {
    list-style: none
}

html,body {
    height: 100%
}

html {
    font-size: 10px
}

body {
    font-size: 1.2em;
    background-color: #f5f5f5
}

.touchweb-com_header {
    position: relative;
    z-index: 150;
    height: 44px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5
}

.touchweb-com_header.title {
    border-bottom: 1px solid #e5e5e5
}

.touchweb-com_header.header_flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.touchweb-com_header.header_flex .left {
    position: static
}

.touchweb-com_header.header_flex .search_wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.touchweb-com_header.header_flex .rightBox {
    position: static
}

.touchweb-com_header .left {
    position: absolute;
    left: 0;
    top: 7px;
    width: 23px;
    height: 30px;
    text-align: center;
    padding: 0 5px
}

.touchweb-com_header .left.icon-back {
    color: #ff3c3c;
    font-size: 2.3rem;
    line-height: 30px
}

.touchweb-com_header .left .icon-home {
    color: #ff3c3c;
    font-size: 2rem;
    line-height: 30px
}

.touchweb-com_header .left.leftSub {
    left: 40px
}

.touchweb-com_header .left.adv {
    width: auto;
    margin-left: 10px;
    padding-right: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 15px;
    font-size: 1.4rem
}

.touchweb-com_header .left.adv:before {
    vertical-align: -4px;
    font-size: 2.3rem
}

.touchweb-com_header .header_area {
    display: block;
    min-width: 2em;
    height: 44px;
    line-height: 44px;
    margin-left: 5px;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    text-align: center;
    -webkit-transition: all .3s linear;
    transition: all .3s linear
}

.touchweb-com_header h1 {
    width: 50%;
    height: 44px;
    line-height: 44px;
    margin: 0 auto;
    font-size: 1.7rem;
    text-align: center;
    font-weight: normal;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.touchweb-com_header .rightBox {
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    font-size: 0
}

.touchweb-com_header .right {
    display: block;
    position: relative;
    font-size: 1.4rem;
    text-align: center;
    vertical-align: middle;
    color: #ff3c3c
}

.touchweb-com_header .right .right_text:nth-last-of-type(1) {
    display: block;
    height: 44px;
    line-height: 44px;
    padding: 0 10px;
    font-size: 1.4rem;
    color: #979797
}

.touchweb-com_header .right .right_text.rbtn_box {
    height: 28px;
    line-height: 28px;
    margin-right: 5px;
    padding: 0 10px;
    border: 1px solid #ff3c3c;
    border-radius: 4px;
    background-color: #ff3c3c;
    color: #fff;
    font-size: 1.4rem
}

.touchweb-com_header .right .right_text.rbtn_box:active {
    background-color: #ff0909
}

.touchweb-com_header .right .right_text.adv {
    min-width: 30px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    line-height: 30px
}

.touchweb-com_header .right [class^="icon-"],.touchweb-com_header .right [class*=" icon-"] {
    display: block;
    min-width: 34px;
    line-height: 28px;
    margin-top: 2px;
    color: #ff3c3c;
    font-size: 2rem
}

.touchweb-com_header .right [class^="icon-"]:nth-last-of-type(1),.touchweb-com_header .right [class*=" icon-"]:nth-last-of-type(1) {
    margin-top: 0;
    padding: 0;
    font-size: 2.4rem;
    color: #ff3c3c
}

.touchweb-com_header .right .icon_text {
    display: block;
    line-height: 12px;
    margin-bottom: 2px;
    font-size: 1rem
}

.touchweb-com_header .right .icon_text:nth-of-type(1) {
    line-height: 44px;
    margin: 0;
    padding: 0 10px;
    font-size: 1.4rem;
    color: #979797
}

.touchweb-com_header .right .sumClass {
    min-width: 6px;
    height: 12px;
    line-height: 12px;
    border-radius: 12px;
    background-color: #ff3c3c;
    color: #fff;
    font-size: 1rem;
    position: absolute;
    z-index: 1;
    right: 2px;
    top: 2px;
    display: inline-block;
    padding: 0 3px
}

.touchweb-com_header .more_list {
    position: absolute;
    z-index: 950;
    right: 5px;
    top: 50px;
    width: 135px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(51,51,51,0.8);
    border-radius: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column
}

.touchweb-com_header .more_list.hide {
    display: none
}

.touchweb-com_header .more_list:after {
    content: '';
    position: absolute;
    right: 10px;
    top: -12px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: rgba(51,51,51,0.8)
}

.touchweb-com_header .more_list .moreA {
    position: relative;
    display: block;
    height: 44px;
    line-height: 44px;
    padding: 0 10px 0 17px;
    color: #fff;
    font-size: 1.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.touchweb-com_header .more_list .moreA:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 1px;
    background-color: rgba(255,255,255,0.1)
}

.touchweb-com_header .more_list .moreA:active {
    background-color: rgba(0,0,0,0.6)
}

.touchweb-com_header .more_list .moreA:first-child {
    border-radius: 5px 5px 0 0
}

.touchweb-com_header .more_list .moreA:last-child {
    border-radius: 0 0 5px 5px
}

.touchweb-com_header .more_list .moreA:last-child:after {
    display: none
}

.touchweb-com_header .more_list .moreA .icon {
    display: inline-block;
    width: 20px;
    height: 44px;
    line-height: 44px;
    margin-right: 15px;
    text-align: center;
    font-size: 2.2rem;
    color: #fff;
    vertical-align: top
}

body {
    font-size: 1.2em;
    background-color: #f5f5f5
}

.touchweb-com_header .right.rbtn {
    right: 5px;
    display: block;
    width: 50px;
    height: 28px;
    line-height: 28px;
    padding: 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    color: #333
}

.touchweb_page-login .login_box {
    margin-top: 44px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    background-color: #fff
}

.touchweb_page-login .login_box .form_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 320px;
    height: 44px;
    margin: 0 auto
}

.touchweb_page-login .login_box .form_item:last-child .input_box {
    border: 0
}

.touchweb_page-login .login_box .form_item label {
    display: block;
    width: 42px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 1.6rem;
    color: #666
}

.touchweb_page-login .login_box .form_item .input_box {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: auto;
    height: 43px;
    border-bottom: 1px solid #e5e5e5
}

.touchweb_page-login .login_box .form_item .input_box.write .icon_delete {
    display: block
}

.touchweb_page-login .login_box .form_item .input_box input {
    width: 100%;
    height: 43px;
    line-height: 20px;
    padding: 12px 30px 11px 0;
    border: 0;
    font-size: 1.4rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.touchweb_page-login .login_box .form_item .input_box .icon_delete {
    display: none;
    position: absolute;
    right: 5px;
    top: 7px;
    z-index: 1;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 1.4rem;
    color: #ccc
}

.touchweb_page-login .login_box .form_item .input_box .icon_delete:active {
    color: #426bf2
}

.touchweb_page-login .login_box .form_captcha .input_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.touchweb_page-login .login_box .form_captcha .input_box .captcha_input {
    width: 129px;
    padding-right: 0;
    vertical-align: middle
}

.touchweb_page-login .login_box .form_captcha .input_box .captcha_pic {
    width: 105px;
    height: 43px;
    vertical-align: middle
}

.touchweb_page-login .login_box .form_captcha .input_box .captcha_refresh {
    width: 44px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    color: #666;
    font-size: 1.6rem;
    vertical-align: middle
}

.touchweb_page-login .form_box {
    border-bottom: 1px solid #dcdcdc;
    background-color: #fff
}

.touchweb_page-login .form_box.form_verification {
    margin-top: 10px;
    border-top: 1px solid #dcdcdc
}

.touchweb_page-login .form_box .form_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 320px;
    height: 44px;
    margin: 0 auto
}

.touchweb_page-login .form_box .form_item:last-child .input_box {
    border: 0
}

.touchweb_page-login .form_box .form_item .input_box {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: auto;
    height: 43px;
    border-bottom: 1px solid #dcdcdc
}

.touchweb_page-login .form_box .form_item .input_box input[type="text"],.touchweb_page-login .form_box .form_item .input_box input[type="password"],.touchweb_page-login .form_box .form_item .input_box input[type="tel"],.touchweb_page-login .form_box .form_item .input_box input[type="email"] {
    height: 43px;
    line-height: 20px;
    border: 0;
    font-size: 1.4rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.touchweb_page-login .form_box .form_item .input_box .text_verification {
    width: 160px;
    padding: 12px 0 11px 13px;
    vertical-align: middle
}

.touchweb_page-login .form_box .form_item .input_box .pic_verification {
    width: 105px;
    height: 43px;
    vertical-align: middle
}

.touchweb_page-login .form_box .form_item .input_box .icon_refresh {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.8rem;
    color: #666
}

.touchweb_page-login .remember_login {
    position: relative;
    max-width: 290px;
    height: 30px;
    margin: 20px auto 0
}

.touchweb_page-login .remember_login input[type="checkbox"] {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    vertical-align: middle
}

.touchweb_page-login .remember_login input[type="checkbox"]:checked {
    border-color: #8ab746;
    background-color: #8ab746
}

.touchweb_page-login .remember_login input[type="checkbox"]:checked:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 4px;
    width: 11px;
    height: 5px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.touchweb_page-login .remember_login label {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;
    font-size: 1.4rem;
    color: #666;
    vertical-align: middle
}

.touchweb_page-login .remember_login .forgot_password {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 30px;
    font-size: 1.4rem;
    color: #07a5ff
}

.touchweb_page-login .remember_login .forgot_password:visited {
    color: #07a5ff
}

.touchweb_page-login .agreement {
    display: none;
    position: relative;
    max-width: 290px;
    height: 30px;
    margin: 10px auto 0;
    font-size: 1.2rem
}

.touchweb_page-login .agreement label {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    color: #666
}

.touchweb_page-login .agreement label a {
    color: #07a5ff
}

.touchweb_page-login .agreement label a:active {
    color: #07a5ff
}

.touchweb_page-login .agreement .forget_pwd {
    position: absolute;
    right: 0;
    top: 5px;
    height: 20px;
    line-height: 20px;
    color: #07a5ff
}

.touchweb_page-login .agreement .forget_pwd:active {
    color: #07a5ff
}

.touchweb_page-login .login_btn {
    max-width: 290px;
    margin: 20px auto 0
}

.touchweb_page-login .login_btn .btn {
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    background-color: #ff3c3c
}

.touchweb_page-login .login_btn .btn:visited {
    color: #fff
}

.touchweb_page-login .login_btn .btn:active {
    background-color: #e53636
}

.touchweb_page-login .joint_login {
    margin: 20px 0
}

.touchweb_page-login .joint_login h2 {
    height: 20px;
    border-bottom: 1px solid #d9d9d9;
    text-align: center
}

.touchweb_page-login .joint_login h2 span {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 1em;
    background-color: #f5f5f5;
    color: #666;
    font-size: 1.2rem;
    -webkit-transform: translate3d(0,50%,0);
    -ms-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0)
}

.touchweb_page-login .joint_login ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 290px;
    margin: 20px auto 0
}

.touchweb_page-login .joint_login ul li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center
}

.touchweb_page-login .joint_login ul li a {
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 34px;
    background-color: #fff
}

.touchweb_page-login .joint_login ul li .icon-alipay_round_unaviable {
    color: #ccc
}

.touchweb_page-login .joint_login ul li .icon-weibo_round_unaviable {
    color: #ccc
}

.touchweb_page-login .joint_login ul li .icon-qq_round_unaviable {
    color: #ccc
}

.touchweb_page-login .joint_login ul li .icon-weixin_round_unaviable {
    color: #ccc
}

.touchweb_page-login .joint_login ul li .icon-jd_round_unaviable {
    color: #ccc
}

.touchweb_page-login .joint_login ul li .icon-alipay_round {
    color: #00b2ee
}

.touchweb_page-login .joint_login ul li .icon-weibo_round {
    color: #dd2e37
}

.touchweb_page-login .joint_login ul li .icon-qq_round {
    color: #10a8ff
}

.touchweb_page-login .joint_login ul li .icon-weixin_round {
    color: #0c0
}

.touchweb_page-login .joint_login ul li .icon-jd_round {
    color: #c81825
}

.pop_login-error {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 88;
    line-height: 20px;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    white-space: nowrap;
    -webkit-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-transition: opacity .1s linear;
    transition: opacity .1s linear;
    z-index: 985
}

.pop_login-error.show {
    visibility: visible;
    opacity: 1
}

.greeting_member {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 910;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 293px;
    height: 166px;
    padding: 0 27px;
    background-color: rgba(255,255,255,0);
    background-image: url('../images/greeting_bg.png?e9347df');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.greeting_member .honor {
    position: relative;
    width: 93px
}

.greeting_member .honor:after {
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%
}

.greeting_member .honor img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.greeting_member .greeting_text {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 10px;
    color: #fff
}

.greeting_member .greeting_text .h4 {
    height: 24px;
    line-height: 24px;
    font-size: 1.6rem
}

.greeting_member .greeting_text .h3 {
    height: 30px;
    line-height: 30px;
    font-size: 1.8rem
}

.touchweb_page-login .sms_login {
    margin-top: 25px;
    text-align: center
}

.touchweb_page-login .sms_login .btn {
    height: 20px;
    line-height: 20px;
    font-size: 1.4rem;
    color: #07a5ff
}

.touchweb_page-login .sms_login .btn:active {
    color: #07a5ff
}

.none {
    display: none
}

@font-face {
    font-family: "public";
    src: url("../iconfonts/h5/public.eot?e9347df");
    src: url("../iconfonts/h5/public.eot?e9347df?#iefix") format("embedded-opentype"),url("../iconfonts/h5/public.woff?e9347df") format("woff"),url("../iconfonts/h5/public.ttf") format("truetype"),url("../iconfonts/h5/public.svg#public") format("svg");
    font-weight: normal;
    font-style: normal
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family:"public";
        src: url("../iconfonts/h5/public.svg#public") format("svg")
    }
}

[data-icon]:before {
    content: attr(data-icon)
}

[class^="icon-"],[class*=" icon-"] {
    font-family: "public";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

[class^="icon-"] *,[class*=" icon-"] * {
    font-family: sans-serif
}

.icon-add:before {
    content: "\f105"
}

.icon-add3:before {
    content: "\f180"
}

.icon-add_2:before {
    content: "\f16d"
}

.icon-alipay:before {
    content: "\f115"
}

.icon-alipay_2:before {
    content: "\f162"
}

.icon-alipay_round:before {
    content: "\f1a4"
}

.icon-attention:before {
    content: "\f116"
}

.icon-back:before {
    content: "\f103"
}

.icon-bank:before {
    content: "\f151"
}

.icon-broken:before {
    content: "\f193"
}

.icon-camero:before {
    content: "\f179"
}

.icon-car:before {
    content: "\f117"
}

.icon-card_sams:before {
    content: "\f183"
}

.icon-cart:before {
    content: "\f118"
}

.icon-cart_small:before {
    content: "\f119"
}

.icon-cell_phone:before {
    content: "\f14e"
}

.icon-cell_phone_2:before {
    content: "\f157"
}

.icon-cleaner:before {
    content: "\f16e"
}

.icon-clear:before {
    content: "\f10d"
}

.icon-clock:before {
    content: "\f156"
}

.icon-cloth:before {
    content: "\f16f"
}

.icon-collect:before {
    content: "\f188"
}

.icon-coordinate:before {
    content: "\f17a"
}

.icon-coupon:before {
    content: "\f11a"
}

.icon-delete:before {
    content: "\f11b"
}

.icon-dialog:before {
    content: "\f11c"
}

.icon-dingdan:before {
    content: "\f11d"
}

.icon-direction:before {
    content: "\f199"
}

.icon-down:before {
    content: "\f18b"
}

.icon-down_arrow:before {
    content: "\f11e"
}

.icon-down_arrow_long:before {
    content: "\f11f"
}

.icon-down_arrow_small:before {
    content: "\f120"
}

.icon-edit:before {
    content: "\f121"
}

.icon-edit_2:before {
    content: "\f16a"
}

.icon-error:before {
    content: "\f190"
}

.icon-exchange:before {
    content: "\f17c"
}

.icon-exchange_not:before {
    content: "\f17d"
}

.icon-expensive:before {
    content: "\f158"
}

.icon-expensive_2:before {
    content: "\f168"
}

.icon-favor:before {
    content: "\f170"
}

.icon-filter:before {
    content: "\f122"
}

.icon-filter_2:before {
    content: "\f186"
}

.icon-flame:before {
    content: "\f1a3"
}

.icon-flat:before {
    content: "\f18c"
}

.icon-flow:before {
    content: "\f19c"
}

.icon-fork:before {
    content: "\f171"
}

.icon-ge:before {
    content: "\f153"
}

.icon-genuin:before {
    content: "\f194"
}

.icon-gift:before {
    content: "\f123"
}

.icon-glass:before {
    content: "\f172"
}

.icon-global:before {
    content: "\f195"
}

.icon-good:before {
    content: "\f159"
}

.icon-group:before {
    content: "\f124"
}

.icon-growup:before {
    content: "\f154"
}

.icon-hands:before {
    content: "\f126"
}

.icon-heart:before {
    content: "\f127"
}

.icon-heart_full:before {
    content: "\f1a0"
}

.icon-heart_line:before {
    content: "\f19f"
}

.icon-history:before {
    content: "\f10c"
}

.icon-home:before {
    content: "\f128"
}

.icon-id_2:before {
    content: "\f129"
}

.icon-idcard:before {
    content: "\f17f"
}

.icon-insurance:before {
    content: "\f192"
}

.icon-jd_round:before {
    content: "\f1a9"
}

.icon-keyboard:before {
    content: "\f12a"
}

.icon-layer_close:before {
    content: "\f12b"
}

.icon-limit:before {
    content: "\f12c"
}

.icon-location:before {
    content: "\f12d"
}

.icon-mail:before {
    content: "\f14f"
}

.icon-maternal:before {
    content: "\f173"
}

.icon-merchant:before {
    content: "\f12e"
}

.icon-message:before {
    content: "\f19e"
}

.icon-milkbox:before {
    content: "\f174"
}

.icon-minus:before {
    content: "\f181"
}

.icon-mobile:before {
    content: "\f175"
}

.icon-money:before {
    content: "\f12f"
}

.icon-more:before {
    content: "\f130"
}

.icon-my:before {
    content: "\f106"
}

.icon-my_order:before {
    content: "\f182"
}

.icon-mymoney:before {
    content: "\f15f"
}

.icon-new_arrival:before {
    content: "\f1a1"
}

.icon-nope:before {
    content: "\f166"
}

.icon-novel:before {
    content: "\f196"
}

.icon-ok:before {
    content: "\f152"
}

.icon-old_change_new:before {
    content: "\f187"
}

.icon-ordermap:before {
    content: "\f161"
}

.icon-password:before {
    content: "\f109"
}

.icon-pay:before {
    content: "\f15a"
}

.icon-pencil:before {
    content: "\f131"
}

.icon-phone:before {
    content: "\f10a"
}

.icon-phone_2:before {
    content: "\f19d"
}

.icon-plane:before {
    content: "\f160"
}

.icon-plane_2:before {
    content: "\f176"
}

.icon-promote_sales:before {
    content: "\f1a2"
}

.icon-purse:before {
    content: "\f17b"
}

.icon-qq:before {
    content: "\f132"
}

.icon-qq_round:before {
    content: "\f1a6"
}

.icon-rabish:before {
    content: "\f16b"
}

.icon-reduce:before {
    content: "\f133"
}

.icon-refresh:before {
    content: "\f134"
}

.icon-refresh_deep:before {
    content: "\f18a"
}

.icon-right_arrow:before {
    content: "\f135"
}

.icon-sale:before {
    content: "\f137"
}

.icon-search:before {
    content: "\f138"
}

.icon-search_small:before {
    content: "\f139"
}

.icon-service:before {
    content: "\f13a"
}

.icon-service_2:before {
    content: "\f150"
}

.icon-service_3:before {
    content: "\f163"
}

.icon-setting:before {
    content: "\f13b"
}

.icon-shake:before {
    content: "\f13c"
}

.icon-share:before {
    content: "\f13d"
}

.icon-share_2:before {
    content: "\f164"
}

.icon-shop:before {
    content: "\f104"
}

.icon-shop_2:before {
    content: "\f18d"
}

.icon-shop_cart:before {
    content: "\f169"
}

.icon-shopping_bag:before {
    content: "\f189"
}

.icon-simple_shop:before {
    content: "\f198"
}

.icon-smile:before {
    content: "\f13e"
}

.icon-sort:before {
    content: "\f13f"
}

.icon-sort_2:before {
    content: "\f140"
}

.icon-sort_3:before {
    content: "\f177"
}

.icon-sort_big_pic:before {
    content: "\f141"
}

.icon-sort_big_pic_2:before {
    content: "\f178"
}

.icon-speaker:before {
    content: "\f15e"
}

.icon-star:before {
    content: "\f142"
}

.icon-star_2:before {
    content: "\f165"
}

.icon-star_fat:before {
    content: "\f143"
}

.icon-star_fav:before {
    content: "\f144"
}

.icon-star_solid:before {
    content: "\f167"
}

.icon-sub:before {
    content: "\f145"
}

.icon-successful:before {
    content: "\f17e"
}

.icon-successful_small:before {
    content: "\f191"
}

.icon-support_return:before {
    content: "\f184"
}

.icon-support_return_not:before {
    content: "\f185"
}

.icon-thermometer:before {
    content: "\f15b"
}

.icon-top:before {
    content: "\f146"
}

.icon-transport:before {
    content: "\f15c"
}

.icon-transport_ice:before {
    content: "\f15d"
}

.icon-truck:before {
    content: "\f147"
}

.icon-tuangou:before {
    content: "\f197"
}

.icon-up:before {
    content: "\f18e"
}

.icon-up_arrow_long:before {
    content: "\f148"
}

.icon-up_arrow_small:before {
    content: "\f149"
}

.icon-vip:before {
    content: "\f14a"
}

.icon-warning:before {
    content: "\f14b"
}

.icon-weibo:before {
    content: "\f14c"
}

.icon-weibo_round:before {
    content: "\f1a7"
}

.icon-weixin:before {
    content: "\f14d"
}

.icon-weixin_round:before {
    content: "\f1a8"
}

.icon-yen:before {
    content: "\f19b"
}

.icon-weibo_round_unaviable:before {
    content: "\f1a7"
}

.icon-weixin_round_unaviable:before {
    content: "\f1a8"
}

.icon-qq_round_unaviable:before {
    content: "\f1a6"
}

.icon-alipay_round_unaviable:before {
    content: "\f1a4"
}

.icon-jd_round_unaviable:before {
    content: "\f1a9"
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

img {
    vertical-align: top;
    border: 0
}

input,textarea {
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-appearance: none
}

input:focus,select:focus,textarea:focus,button:focus {
    outline: 0
}

input[type="text"],input[type="password"],input[type="search"],input[type="tel"],input[type="number"],input[type="email"],input[type="url"],textarea {
    -webkit-appearance: none;
    border: 1px solid;
    border-radius: 0
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none
}

a {
    text-decoration: none;
    -webkit-touch-callout: none
}

em,i {
    font-style: normal
}

li {
    list-style: none
}

html,body {
    height: 100%
}

html {
    font-size: 10px
}

.touchweb_com-modPopup .popup_box {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 951;
    width: 236px;
    height: 136px;
    margin: -68px 0 0 -118px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1.2rem
}

.touchweb_com-modPopup .popup_title {
    padding: 10px 10px 10px;
    color: #666;
    font-size: 1.2rem;
    line-height: 20px
}

.touchweb_com-modPopup .popup_con {
    padding: 0 10px 15px;
    color: #666;
    font-size: 1.2rem;
    line-height: 20px
}

.touchweb_com-modPopup .popup_btn {
    padding: 0 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.touchweb_com-modPopup .popup_btn .continue {
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #f23939;
    background-color: #ff3c3c;
    color: #fff !important;
    text-decoration: none !important;
    font-size: 1.4rem;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.0rem;
    text-overflow: ellipsis
}

.touchweb_com-modPopup .popup_btn .continue:active {
    border-color: #d93333;
    background-color: #e53636;
    color: #fff
}

.touchweb_com-modPopup .popup_btn .ignore {
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    color: #000 !important;
    text-decoration: none !important;
    font-size: 1.4rem;
    line-height: 30px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.0rem;
    text-overflow: ellipsis
}

.touchweb_com-modPopup .popup_btn .ignore:active {
    border-color: #c6c6c6;
    background-color: #dcdcdc;
    color: #000
}

.touchweb_com-modPopup .popup_btn a {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    margin: 0 5px
}

.touchweb_com-modPopup .popup_bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 950;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7)
}

body.win_noscroll,html.win_noscroll {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.touchweb_page-popup {
    background-color: red
}
